@import url(http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded|Oswald:400,300,700|Raleway:400,500);

body.login{background:url("../images/bgTexture.png") repeat-y scroll center top #CECECE;}
.login h1 a{width:205px;height:237px;background:url(../images/logo.png) center center no-repeat;margin:0 auto 20px;}
.login form{box-shadow:none;border-radius: 0;border:none;}
.login #nav a, .login #backtoblog a{color:#000 !important;text-shadow: none;}
.login p#nav{width:40%;float:right;text-align:right;margin:10px 0;padding:10px 0;}
.login p#backtoblog{width:40%;float:left;text-align:left;margin:10px 0;padding:10px;}